body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 170px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  height: 100vh;
}

.sidebar {
  background-color: rgb(5, 105, 255);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
}

.navbar {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.mainContent {
  background-color: rgb(231, 231, 231);
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 6;
}
